<div class="container">
  <section class="testimonial">
    "My husband and I took an orbit around the Earth and it was fun at first. The food they served was great. I had the filet mignon the first night along with tacos for the last dinner. Upon re-entry, all the shielding started coming off the re-entry vehicle and I thought we were going to die! The captain wasn't any help when we overheard him on the intercom say 'Whoops -- thats not good'. Like what!?? We finally touched down back in Cape Canaveral and I kissed the ground. I don't think I would recommend this company. - Cheryl (45)"
  </section>
  <br><br>
  <section class="testimonial">
    "I just returned from the Sizzle With Saturn trip. I had just quit my job as a bank teller and I wanted a vacation. I went by myself hoping to meet a companion on the way. It turned out, no one else had booked the trip because apparently this business is HORRIBLE! I was all by myself with just me and captain. He wasn't very friendly, either. He spoke 5 words to me the entire trip because he said he wanted to create a real space environment, whatever that means. Anyway, besides all of that, Saturn was cool. Very pretty just as the pictures all show. However, I guess the space craft isn't equipped for the heavy bombardment of radiation that Saturn gives off so I have a doctors appointment on Tuesday. 8/10 would recommend. - Bill (53)"
  </section>
</div>
