.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #9C5851;
    text-align: center;
    height: 50px;
    padding-top: 15px;;
}

a {
  color: #9C5851;
  text-decoration: none;
}
