<div class="featured">
    <p class="intro-heading">Welcome to Celestial Cruises!</p>
    <p class="intro">Ever since the grav drive was invented in 2066, the vastness of the solar system is now at your finger tips!</p>
    <p class="intro">See the stars are they truly are intended to be without the pesky Earth atmosphere getting in your way.</p>
    <p class="intro">Take an orbit around Mars and see Deimos and Phobos, or gaze at Saturn's rings while orbiting Titan!</p>
</div>

<carousel [isAnimated]="true">
  <slide>
    <img src="assets/rotating-images/spaceship1.jpg" alt="slide" class="customSlide">
  </slide>

  <slide>
    <img src="assets/rotating-images/spaceship2.jpg" alt="slide" class="customSlide">
  </slide>

  <slide>
    <img src="assets/rotating-images/spaceship3.jpg" alt="slide" class="customSlide">
  </slide>
</carousel>

